.App{
  /* text-align: center; */
  display:grid;
  position: absolute;
  background-color: lightblue;
  grid-template-areas: "temp    texto1      texto1        texto1"
                       "temp    temphoras   temphoras     temphoras"
                       "temp    texto       texto         texto"
                       "temp    indice      viento        amanece"
                       "maxima  humedad     visibilidad   calidad";

  grid-template-rows: 30px 200px 30px 125px 125px;
  column-gap:10px;
  row-gap: 10px;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.temperatura{
  text-align: center;
  grid-area: temp;
  border: 25px;
  margin-top: 50px;
  font-size: 35px;
}

.temperaturahoras{
  grid-area: temphoras;
  background-color: rgba(233, 132, 95, 0.976);
  margin-right: 20px;
  box-sizing: border-box;
  padding: 10px;
}
.amanecer{
  text-align: center;
  grid-area: amanece;
  background-color: white;
  margin-right: 20px;
}

.calidad{
  text-align: center;
  grid-area: calidad;
  background-color: white;
  margin-right: 20px;
}

.humedad{
  text-align: center;
  grid-area: humedad;
  background-color: white;
}

.indice{
  text-align: center;
  grid-area: indice;
  background-color: white;
}

.viento{
  text-align: center;
  grid-area: viento;
  background-color: white;
}

.visibilidad{
  text-align: center;
  grid-area: visibilidad;
  background-color: white;
}

.maxima{
  text-align: center;
  grid-area: maxima;
  background-color: rgb(255, 128, 0);
  margin-left: 20px;
}
.texto{
  grid-area: texto;
  text-align: start;
}
.texto1{
  grid-area: texto1;
  text-align: start;
}
#textotemperatura{
  margin-left: 15px;
  margin-top: 30px;
}
hr{
  background-color: black;
  height: 3px;
  margin-left: 40px;
  margin-top: 20px;
  width: 96%;
}
#barras{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-top: -10px;
  position: absolute;
  padding: 0;
  width: 40px;
  background-color: aliceblue;
  
}
.barra1{
  margin-left: 45px;
}

#textobarra{
  text-align: center;
}

.barra2{
  margin-left: 120px;
}

.barra3{
  margin-left: 195px;
}

.barra4{
  margin-left: 270px;
}

.barra5{
  margin-left: 345px;
}

.barra6{
  margin-left: 420px;
}

.barra7{
  margin-left: 495px;
}

.barra8{
  margin-left: 570px;
}

.barra9{
  margin-left: 645px;
}

.barra10{
  margin-left: 720px;
}

.barra11{
  margin-left: 795px;
}

.barra12{
  margin-left: 870px;
}

