.App{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "Clima  Transporte";
}
.Transporte{
  grid-area: Transporte;
  text-align: start;
  margin-left: 5%;
  /* width: 50%; */

}
.Clima{
  /* text-align: center; */
  grid-area: Clima;
  display:grid;
  position: absolute;
  background-color: lightblue;
  grid-template-areas: "texto1      texto1      texto1        texto1"
                       "temphoras   temphoras   temphoras     temphoras"
                       "temp        texto       texto         texto"
                       "temp        indice      viento        amanece"
                       "maxima      humedad     visibilidad   calidad";

  width: 50%;
  grid-template-rows: 4.8vh 32vh 4.8vh 20vh 20vh;
  column-gap:0.7vw;
  row-gap: 1.6vh;
  top: 1.6vh;
  left: 0.7vw;
  right: 0.7vw;
  bottom: 1.6vh;
}
p{
  text-align: center;
  margin: 0.5vh;
}
.temperatura{
  text-align: center;
  grid-area: temp;
  border: 4vh;
  font-size: 4vh;
}

.temperaturahoras{
  grid-area: temphoras;
  background-color: rgba(233, 132, 95, 0.976);
  margin-right: 1.46vw;
  /* box-sizing: border-box; */
  padding: 1.6vh;
  scroll-behavior: auto;
}
.amanecer{
  text-align: center;
  grid-area: amanece;
  background-color: white;
  margin-right: 3.2vh;
}

.calidad{
  text-align: center;
  grid-area: calidad;
  background-color: white;
  margin-right: 3.2vh;
}

.humedad{
  text-align: center;
  grid-area: humedad;
  background-color: white;
}

.indice{
  text-align: center;
  grid-area: indice;
  background-color: white;
}

.viento{
  text-align: center;
  grid-area: viento;
  background-color: white;
}

.visibilidad{
  text-align: center;
  grid-area: visibilidad;
  background-color: white;
}

.maxima{
  text-align: center;
  grid-area: maxima;
  background-color: rgb(255, 128, 0);
  margin-left: 3.2vh;
  font-size: 6vh;
}
#maximo{
  color: red;
}
#minimo{
  color: blue;
}
.texto{
  grid-area: texto;
  text-align: start;
  margin-top: 1vh;
}
.texto1{
  grid-area: texto1;
  text-align: start;
  margin-top: 1vh;
}

#textotemperatura{
  margin-left: 1.1vw;
  margin-top: 4.8vh;
}
hr{
  background-color: black;
  height: 0.2vw;
  margin-left: 1vh;
  margin-top: 3.2vh;
  width: 96%;
}
#barras{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-top: -1.6vh;
  position: absolute;
  width: 3vw;
  background-color: aliceblue;
  
}
.barra1{
  margin-left: 0.7vw;
}

#textobarra{
  text-align: center;
}

.barra2{
  margin-left: 4.1vw;
}

.barra3{
  margin-left: 7.5vw;
}

.barra4{
  margin-left: 10.9vw;
}

.barra5{
  margin-left: 14.3vw;
}

.barra6{
  margin-left: 17.7vw;
}

.barra7{
  margin-left: 21.1vw;
}

.barra8{
  margin-left: 24.5vw;
}

.barra9{
  margin-left: 27.9vw;
}

.barra10{
  margin-left: 31.3vw;
}

.barra11{
  margin-left: 34.7vw;
}

.barra12{
  margin-left: 38.1vw;
}
.leaflet-container {
  margin: 1vh;
  width: 100wh; 
  height: 94vh;
}

